<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Neogroww_Website/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Neogroww_Website/index.html [L]
</IfModule>
